@import url("https://fonts.googleapis.com/css?family=Amatic SC|Trirong|Arvo");
* {
    box-sizing: border-box;
    font-family: Amatic SC;
    color: #777;
}

html, body {
    margin: 0;
    padding: 0;
}
.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}
.nav a {
    display: inline-block;
    padding: .9em;
    color: white;
    text-decoration: none;

}

.main-nav {
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}
.main-nav li {
    padding: 0 5%;
}
.nav a:hover {
    background-color: rgba(255, 255, 255, .3);
}
.main-header {
    background-color: rgba(0, 0, 0, .7);
    background-blend-mode: multiply;
    background-image: url(https://ak.picdn.net/shutterstock/videos/1051154707/thumb/1.jpg?ip=x480);
    background-size: cover;
    padding-bottom: 30px;
}

.band-name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: Trirong;
    font-weight: normal;
    color: white;
}

.band-name-larger {
    font-size: 4em;
}

.content-section {
    margin: 7em;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.headings h2 {
    font-family: Arvo;
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}
.cat {
    float: right;
    height: 20em;
    margin: 15px;
}

.main-footer {
    background-color: #56ccf2;
    color: white;
    padding: .25em 0;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul{
    flex-grow: 1;
    text-align: end;
}
.footer-nav li {
    padding: 0 .5em;
}

.footer-nav img {
    width: 30px;
    height: 30px;
}
.btn {
    text-align: center;
    vertical-align: middle;
    padding: 0.67em;
    cursor: pointer;
}
.btn-header {
    margin: 0em 15% 0em 15%;
    color: white;
    border: 2px solid #56ccf2;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover {
    background-color: rgba(255, 255, 255, .3);
}

.kocka-row {
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin: 1em;
}


.kocka-item {
    display: inline-block;
    padding-right: .5em;

}
.kocka-date {
    color: #555;
    font-weight: bold;
    width: 11%;
}
.kocka-vaha {
    width: 24%;

}
.kocka-vel {
    width: 42%;
}
.kocka-btn {
    max-width: 19%;
}
.btn-primary {
    color: white;
    background-color: #56ccf2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}
.btn-primary:hover {
    background-color: #00bfff;
}

.shop-item {
    margin: 30px;
}
.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}
.shop-item-image {
    height: 300px;
}
.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
}
.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width:  45%;
}
.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}
.cart-quantity {
    width: 35%;
}
.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}
.cart-item-image {
    height: 120px;
    width: auto;
    border-radius: 10px;
}
.btn-danger {
    color: white;
    background-color: rgb(248, 79, 79);
    border: none;
    border-radius: .3em;
    font-weight: bold;
}
.btn-danger:hover {
    background-color: red;
}
.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #00bfff;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: none;
}



.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.5em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}